# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Dataset cache
.cache/
datasets/
*.dataset_cache/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Logs
*.log

# VSCode settings (optional)
.vscode/

# Streamlit cache
.streamlit/

# Environment files
.env
